.five{

    background-image: url("https://wallpaperaccess.com/full/284502.jpg");
    background-repeat: no-repeat;
    background-size: 795px 1165px;
    color: aliceblue;
    width: fit-content;
    padding: 40px;
    font-size: larger;
    font-weight: bold;
    border: double;
    border-width: 7px;
    border-color: rgb(0, 0, 0);
    




}




